<style>

body {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	margin: 0;
	padding: 0;
	text-align: center; /* IE */
}

.top-menu {
    width:100%;
    top: 0;
    background-color: #333;
    list-style: none;
    position: fixed;
    /*opacity: 0.8;
    */
}

.top-menu-wrapper {
	width: inherit; 
	margin: 0 auto; 
	text-align: left; 
}

.top-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.top-menu li {
	display: inline-block;
}

.top-menu a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.top-menu li a:hover {
    color: #D3D3D3;
}

.ls-menu {
    width:100%;
    background-color: #333;
    list-style: none;
    height: 100%;
    margin-top: 50px;
    /*opacity: 0.8; */
}

.ls-menu-wrapper {
	width: inherit; 
	margin: 0 auto; 
	text-align: left; 
}

.ls-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.ls-menu li {
	list-style: none;
}

.ls-menu a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.ls-menu li a:hover {
    color: #D3D3D3;
}

#header {
	width: 960px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
}

#header img {
	width: inherit;
	height: inherit;
	background: #555;
	padding-top: 20px;
}

#container {
	width: 960px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
    color:black;
    clear:both;
    text-align: center;
    text-indent: 5px;
}

#left_column {
	width: 25%;
	height: inherit;
	background-color: #333;
	float: left;
	text-align: left;
}

#content {
	width: 75%;
	height: inherit;
	background-color: #e5e5e5;
	float: right;
}

#cont_main {
	width: inherit;
	height: inherit;
	text-align: left;
}


#cont_footer {
	float: left;
	width: inherit;
	height: 50px;
}

#signup_content_main {
	float: left;
	text-align: left;
	margin-left: 10px;
}

h1 {
	font-size: 30px;
	font-weight: bold;
	font-family: "Helvetica Neue", Arial, sans-serif;
}

h1.h1_footer {
	font-size: 15px;
	font-weight: bold;
	font-family: "Helvetica Neue", Arial, sans-serif;
}

p {
	color: #333333;
	font-size: 14px;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-weight: 300;
	line-height: 1.5625;
	margin-bottom: 15px;
	letter-spacing: -1px;
}

footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 40px;
	width: 100%;
	background-color: #333;
    color:white;
    clear:both;
}

h5.footer-email {
	float: right;
	margin-right: 10px;
	margin-top: 5px;
	font-size: 14px;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-weight: 300;
	letter-spacing: -1px;
}

h5.footer-by {
	float: left;
	margin-left: 10px;
	margin-top: 5px;
	font-size: 14px;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-weight: 300;
	letter-spacing: -1px;
}

</style>